.nav-link {
    font-size: larger;
    font-style:italic;
    font-display: center;
    
   
    
}
.nav-item{
    text-align: right;
}

.spacing{
    text-align: center;
    
}
.space{
    text-align: center;
}