
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>ONEWORLDANALYTICS</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">HOME</a></li>
          <li><a class="nav-link scrollto" href="#about">ABOUT US</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">SERVICES</a></li>
          <li><a class="nav-link scrollto" routerLink="/pricing">PRICING</a></li>
          <li><a class="getstarted scrollto" href="#about">SIGNUP</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
<section>
  <div class="header">
    <p>Choose the best plan for your business</p>
  </div>
  </section>

  <!-- Tab links -->
  
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'smallbusiness')">Small Business</button>
  <button class="tablinks" onclick="openCity(event, 'academic')">Academic</button>
  <button class="tablinks" onclick="openCity(event, 'enterprise')">Enterprise</button>
</div>

<!-- Tab content -->
<div id="smallbusiness" class="tabcontent">
  <div class="container">
  <h1>SMALL BUSINESS POLICY</h1>
  <h3>RStudio offers discounts on RStudio Workbench RStudio Connect,RStudio Package Manager nd RStudio Team bundles for businesses up to $5 million in annual revenue and with operating budgets of $10M or less
      Our goal is to help small startups and developers get started easily Disclose last year's annual revenue and operating budget to RStudio on request for example, an accounting and Shiny on any public facing 
      websites that use Shiny Provide a Customer Story or similar upon request Accept the standard statement or PnL Display Powered by RStudio click-through RStudio license agreement Complete the order online and
      pay by credit card links below or contact sales@rstudio.com for RStudio Team  
    </h3> 
    <div class="row">
    <div class="col-md-6">
      <div class="bg-white p-5 rounded-lg shadow">
        <h1 class="h6 text-uppercase font-weight-bold mb-4">Monthly</h1>
        <h2 class="h1 font-weight-bold">$199<span class="text-small font-weight-normal ml-2"></span></h2>

        <div class="custom-separator my-4 mx-auto bg-primary"></div>

        <ul class="list-unstyled my-5 text-small text-left">
          <li class="mb-3">
            <i class="fa fa-check mr-2 text-primary"></i> Lorem ipsum dolor sit amet</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2 text-primary"></i> At vero eos et accusamus</li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Nam libero tempore</del>
          </li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Sed ut perspiciatis</del>
          </li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Sed ut perspiciatis</del>
          </li>
        </ul>
        <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill" routerLink="subscribe">Subscribe</a>
      </div>
    </div> 
    <div class="col-md-6">
      <div class="bg-white p-5 rounded-lg shadow">
        <h1 class="h6 text-uppercase font-weight-bold mb-4">Yearly</h1>
        <h2 class="h1 font-weight-bold">$699<span class="text-small font-weight-normal ml-2"></span></h2>
  
        <div class="custom-separator my-4 mx-auto bg-primary"></div>
  
        <ul class="list-unstyled my-5 text-small text-left">
          <li class="mb-3">
            <i class="fa fa-check mr-2 text-primary"></i> Lorem ipsum dolor sit amet</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2 text-primary"></i> At vero eos et accusamus</li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Nam libero tempore</del>
          </li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Sed ut perspiciatis</del>
          </li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Sed ut perspiciatis</del>
          </li>
        </ul>
        <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
      </div>
    </div> 
  </div>
    </div>
</div>

<br>



<div class="container">
  <div id="academic" class="tabcontent">
    <h1>ACADEMIC POLICY</h1>
    <h3>RStudio offers discounts on RStudio Workbench RStudio Connect,RStudio Package Manager nd RStudio Team bundles for businesses up to $5 million in annual revenue and with operating budgets of $10M or less
      Our goal is to help small startups and developers get started easily Disclose last year's annual revenue and operating budget to RStudio on request for example, an accounting and Shiny on any public facing 
      websites that use Shiny Provide a Customer Story or similar upon request Accept the standard statement or PnL Display Powered by RStudio click-through RStudio license agreement Complete the order online and
      pay by credit card links below or contact sales@rstudio.com for RStudio Team  
    </h3> 
    <div class="row">
      <div class="col-md-6">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h6 text-uppercase font-weight-bold mb-4">Monthly</h1>
          <h2 class="h1 font-weight-bold">$199<span class="text-small font-weight-normal ml-2"></span></h2>
  
          <div class="custom-separator my-4 mx-auto bg-primary"></div>
  
          <ul class="list-unstyled my-5 text-small text-left">
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Lorem ipsum dolor sit amet</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> At vero eos et accusamus</li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
              <del>Nam libero tempore</del>
            </li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
              <del>Sed ut perspiciatis</del>
            </li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
              <del>Sed ut perspiciatis</del>
            </li>
          </ul>
          <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
        </div>
      </div> 
      <div class="col-md-6">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h6 text-uppercase font-weight-bold mb-4">Yearly</h1>
          <h2 class="h1 font-weight-bold">$699<span class="text-small font-weight-normal ml-2"></span></h2>
    
          <div class="custom-separator my-4 mx-auto bg-primary"></div>
    
          <ul class="list-unstyled my-5 text-small text-left">
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Lorem ipsum dolor sit amet</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> At vero eos et accusamus</li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
              <del>Nam libero tempore</del>
            </li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
              <del>Sed ut perspiciatis</del>
            </li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
              <del>Sed ut perspiciatis</del>
            </li>
          </ul>
          <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
        </div>
      </div> 
    </div>
    
  </div>
</div>



<div class="container">
<div id="enterprise" class="tabcontent">
  <h1>ENTERPRICE POLICY</h1>
  <h3>RStudio offers discounts on RStudio Workbench RStudio Connect,RStudio Package Manager nd RStudio Team bundles for businesses up to $5 million in annual revenue and with operating budgets of $10M or less
    Our goal is to help small startups and developers get started easily Disclose last year's annual revenue and operating budget to RStudio on request for example, an accounting and Shiny on any public facing 
    websites that use Shiny Provide a Customer Story or similar upon request Accept the standard statement or PnL Display Powered by RStudio click-through RStudio license agreement Complete the order online and
    pay by credit card links below or contact sales@rstudio.com for RStudio Team  
  </h3> 
  <div class="row">
    <div class="col-md-6">
      <div class="bg-white p-5 rounded-lg shadow">
        <h1 class="h6 text-uppercase font-weight-bold mb-4">Monthly</h1>
        <h2 class="h1 font-weight-bold">$199<span class="text-small font-weight-normal ml-2"></span></h2>

        <div class="custom-separator my-4 mx-auto bg-primary"></div>

        <ul class="list-unstyled my-5 text-small text-left">
          <li class="mb-3">
            <i class="fa fa-check mr-2 text-primary"></i> Lorem ipsum dolor sit amet</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2 text-primary"></i> At vero eos et accusamus</li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Nam libero tempore</del>
          </li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Sed ut perspiciatis</del>
          </li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Sed ut perspiciatis</del>
          </li>
        </ul>
        <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
      </div>
    </div> 
    <div class="col-md-6">
      <div class="bg-white p-5 rounded-lg shadow">
        <h1 class="h6 text-uppercase font-weight-bold mb-4">Yearly</h1>
        <h2 class="h1 font-weight-bold">$699<span class="text-small font-weight-normal ml-2"></span></h2>
  
        <div class="custom-separator my-4 mx-auto bg-primary"></div>
  
        <ul class="list-unstyled my-5 text-small text-left">
          <li class="mb-3">
            <i class="fa fa-check mr-2 text-primary"></i> Lorem ipsum dolor sit amet</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2 text-primary"></i> At vero eos et accusamus</li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Nam libero tempore</del>
          </li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Sed ut perspiciatis</del>
          </li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Sed ut perspiciatis</del>
          </li>
        </ul>
        <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
      </div>
    </div> 
  </div>
  
</div>
</div>
    <footer id="footer">
      <div class="container py-4">
          <div class="row">
          
              <div class="col-md-4">
                  <h3>OneWorldAnalytics</h3>
                  <p>
                    <strong>Location:</strong>United Kingdom </p>
                   
                   <p><strong>Email:</strong>oneworldanalytics@gmail.com</p> 
                  
                </div>
      
                <div class="col-md-4">
                  <h4>Useful Links</h4>
                  <ul>
                    <li> <a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SERVICES</a></li>
                    <li><a href="#">PRICING</a></li>
                  </ul>
                </div>
      
                <div class="col-md-4">
                  <h4>Our Social Networks</h4>
                  <p>For more information you can reach us through</p>
                  <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                  </div>
                </div>
            </div> 
      </div>
    </footer>

  
