
<div id="main">
<section id="about" class="about">
    <div class="container">

      <div class="row justify-content-between">
        <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
          <img src="assets/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0">
          <h3 data-aos="fade-up">Our Scope</h3>
          <p data-aos="fade-up" data-aos-delay="100">
            One World Analytics was founded in 2013 as a research company that uses innovative approaches to the analysis of global social and environmental issues. We use a combination of text mining, statistics, geographic mapping and network analysis to make the
                invisible and the neglected visible.
                We have a strong commitment to working with developing countries to address knowledge and capacity needs that will contribute to economic development and conservation of the environment.
          </p>
        </div>
      </div>

    </div>
  </section>
</div>